nav {
  float: left;
  width: 250px;

}

h1 {
  margin-top: 10px;
  margin-left: 80px;
  font-family: monospace;
  font-size: 100px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
}

aside {
  margin-right: 100px;
}

.container {
  width: 1000px;
  height: 320px;
  margin-top: 100px
}

.image {
  float: right;
}

.container h1 {
  font-family: monospace;
  font-size: 20px;
}

section {
  margin-left: 200px;
}

.low-usage {
  background-color: aqua
}

.medium-usage {
  background-color: orange
}

.high-usage {
  background-color: orangered
}

.button:hover {
  background-color: yellow
}

.button {
  border-radius: 28px;
  outline: none;
  background-color: white;
  border-spacing: 4px;
  font-family: monospace;
  font-size: 18px; 

}
