nav {
  float: left;
  width: 250px;
}

h1 {
  font-family: monospace;
  font-size: 150px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
}

section {
  margin-left: 200px;
}

.low-usage {
  background-color: aqua
}

.medium-usage {
  background-color: orange
}

.high-usage {
  background-color: orangered
}

.button:hover {
  background-color: rgb(128, 240, 255);
}

.power-save-on {
  background-color: aqua;
}

.button {
  border-radius: 28px;
  outline: none;
  background-color: white;
  border-spacing: 4px;
  font-family: monospace;
  font-size: 18px; 

}
