nav {
  float: left;
  width: 250px;
}

h1 {
  font-family: monospace;
  font-size: 150px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
}

section {
  margin-left: 100px;
}

.low-usage {
  background-color: aqua
}

.medium-usage {
  background-color: orange
}

.high-usage {
  background-color: orangered
}


.button {
  border-radius: 28px;
  border-spacing: 4px;
  font-family: monospace;
  font-size: 18px; 

}
